body{
	background:#000;
	background-image: url("images/fondoMedio.png");
}

button{
	visibility: hidden;
	background-color:transparent;
	border-color: white;
}

label{
	color:#FFF;
	font-size: 30px;
}

#addPosition{
	background-color: transparent;
	border-color: transparent;
}

#comprobar{
	background-color: transparent;
	border-color: transparent;
}


/*posicion de los arrays*/

#level0{
	visibility:hidden;
	position:absolute;
	top:45%;
}
#level1{
	visibility:hidden;
	position:absolute;
	top:45%;
}
#level2{
	visibility:hidden;
	position:absolute;
	top:30%;
}
#level3{
	visibility:hidden;
	position:absolute;
	top:30%;
}
#level4{
	visibility:hidden;
	position:absolute;
	top:30%;
}
#level5{
	visibility:hidden;
	position:absolute;
	top:30%;
}

/*posicion de los divs generales*/
#botones{
	position:absolute;
	bottom: 1%;
	right: 10%;
	height: 20%;
	width: 20%;
}

#botones button{
	height: 100%;
	width: 100%;
}
#botones button img
{
	height: 100%;
	width: 100%;
}

#posicion{
	position:absolute;
	bottom: 6%;
}


/*estilo boton inicio*/
#initDiv{
	z-index: 1;
	position:absolute;
	top: 20%;
	left: 20%;
	height: 200px;
	width: 300px;
}

#initDiv button{
	position: absolute;	
	visibility: visible;
	background-color:transparent;
	border-color: transparent;
}
#initButton img{
	width: 100%;
	height: 100%;
}

/*estilo de las pantallas de puntuacion*/

#pointDiv{
	z-index: -2;
	position:absolute;
	float:left;
	width: 100%;
	height: 80%;
	visibility: hidden;
}


/*estilo del tiempo*/
#tiempo{
	position: absolute;
	top: 5%;
	left: 10%;
	height: 15%;
	width: 90%;
}
#tiempo button {
	height: 90%;	
	width: 45%;
}
#tiempo button  img{
	height: 100%;	
	width: 100%;
}
#time{
	visibility: hidden;
	font-size: 30px;
	position: absolute;
	left: 85%;
	
}




